body{
  text-align: center;
  background-color: hsl(212, 45%, 89%);
}
img{
width: 100%;
border-radius: 20px;
}
p{
  margin:auto;
}
.container{
  display: inline-block;
  background-color: white;
margin-top: 10%;
padding-bottom: 50px;
padding-top: 1rem;
padding-left: 1rem;
padding-right: 1rem;
  width: 240px;
  border-radius: 20px;

}
h1
{font-family: 'Outfit', sans-serif;
  color: hsl(218, 44%, 22%);
  font-size: 20px;

}
.text2{
  font-size: 10px;
  font-family: 'Outfit', sans-serif;
  color: hsl(220, 15%, 55%);
  width: 90%;
}
.attribution{
  position: relative;
  top: 170px;
}
